/* Блог */
.blog {
  background-color: #191919;
  transform: skewY(3.6deg);
  position: relative;
  z-index: 999;
  margin-top: -40px;
  &__inside {
    transform: skewY(-3.6deg);
  }
  &__box {
    padding: 100px 0 150px;
  }
  &__heading {
    text-align: center;
    &--bold {
      text-transform: uppercase;
      font-weight: 400;
      font-size: 48px;
      color: #fff;
    }
    &--thin {
      text-transform: uppercase;
      font-size: 48px;
      color: #fff;
      font-weight: 200;
    }
  }
  &__img {
    display: flex;
    justify-content: space-between;
    &--thumb {
      width: 372px;
      height: 300px;
    }
  }
  &__block {
    display: flex;
    justify-content: space-between;
    &--hover {
      background-color: #191919;
      width: 372px;
      height: 300px;
      opacity: 0.8;
      margin-top: -300px;
    }
  }
  .blog__text {
    padding-right: 5px;
    &--heading {
      color: #dfdfdf;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 300;
    }
  }
}
