/* Artists */

.artists {
  height: 780px;
  background: #FFF;
  position: relative;
  z-index: 990;
  overflow: hidden;
}

.artists__inside {
  justify-content: space-between;
}

.artists__box {
  display: flex;
  justify-content: space-between;
}

.artists__block {
  width: 50%;
  padding: -40px 15px;
}

.artists__item {
}

.artists__img {
  width: 585px;
  height: 585px;
}

.artists__img--thumbnail {
  width: 234px;
  height: 234px;
}

.artists__heading-bold {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 48px;
  color: #191919;
}

.artists__heading-thin {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 48px;
  color: #191919;
}

.artists__paragraph {
  text-decoration: none;
  color: #888;
  font-size: 15px;
  padding-right: 100px;
}

.artists__text {
  padding-top: 200px;
}

.artists__socials {
  display: flex;
}

.artists__link {
  padding-right: 36px;
  color: #888;
}

.artists__link:hover {

}
